/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

:root.md {
  --ion-text-color: #000000;
  --ion-background-color: #ffffff;
  --ion-color-primary: #515BAD;
}