.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

ion-card {
    background: #ffffff;
    color: #000000;
    border-radius: 10px;
    padding: 16px;
    border: 2px solid #515BAD;
}
ion-card-title {
    color: #000000;
    text-align: center;
}
ion-button {
    background: #515BAD;
    color: #ffffff;
    border: 2px solid #000000;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 12px;
    padding: 0px;
}

ion-card-subtitle {
    color: #000000;
    font-size: 0.9rem;
    margin-top: 16px;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}